.header {
  background-color: #fff;
  margin-bottom: 8px;
  padding-top: 70px;
  border-radius: 0 0 24px 24px;
}

.headerTop {
  padding: 20px 16px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white; /* Ensure the background is solid to cover content underneath */
  z-index: 1000; /* Ensure it stays above other content */
}

.headerTop h2 {
  font-size: 17.58px;
  font-weight: 900;
  line-height: 18px;
}

.headerBottom {
  padding: 13px 16px;
}

.headerButton {
  background-color: transparent;
  border: none;
}

.headerButton svg {
  height: 28px;
  width: 28px;
}

.headerBottomButton {
  background-color: #fff;
  border-radius: 12px;
  padding: 13px 11px;
}

.headerBottomButton > svg{
  width: 18px;
  height: 18px;
}